@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin moveForward {
  &:hover {
    transition: all 0.2s;
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
    z-index: 3;
    // padding: 1rem;
    outline: $color-primary 0.5rem solid;
    outline-offset: 1.3rem;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER

//breakpoint argument choices
/*
-phone 
-tab-port
-tab-land
-big-desktop

ORDER: Base + Typograph > General layout + grid > page layout > components

*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    //600px / 16 to get ems
    //min-width:600px
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    //min-width: 900px
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    //min-width:1200
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    //min-width:1800
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
